<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pdf -->
      <package
            uri="ecore://nasdanika.org/models/pdf"
            class="org.nasdanika.models.pdf.PdfPackage"
            genModel="model/pdf.genmodel"/>
   </extension>

</plugin>
